<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Folder na logi -->
        <Property name="filename">./logs</Property>
    </Properties>

    <Appenders>

        <!-- Logowanie do pliku z rotacją -->
        <RollingFile name="file"
                     fileName="${filename}/logdemo.log"
                     filePattern="${filename}/logdemo-%d{HH_mm_ss_SSS}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="100 MB"/>
        </RollingFile>

        <!-- Logowanie na konsolę -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <!-- Root logger: loguje wszystko od INFO wzwyż -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>

    </Loggers>
</Configuration>
